bin/
obj/
out/

Tools/*.exe
Tools/*.json

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

.idea/
*.sln.iml

*.log

.DS_Store
Thumbs.db

*.nupkg
packages/
.nuget/
project.lock.json
project.fragment.lock.json
artifacts/

publish/

Debug/
Release/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

TestResults/

Generated_Code/

_ReSharper*/
*.DotSettings.user

.dotnet/

appsettings.Development.json

*.tmp
*.temp

